include userCard
doctype html
html(lang='en')
  body  
   table(style='width:100%' border='1')     
      tr
        th NAME
        th AGE
        th CITY
        th STATE
        th EMAILID
        th       

      each user in users
       tr
          td= user.name  
          td= user.age
          td= user.city
          td= user.state
          td= user.emailId 
          td
            +userCard()
            //-  <a href="/user.email"><button class="btn btn-info btn-lg" type="button">Edit</button>
             <a href="/delete/user.email"><button class="btn btn-info btn-lg" type="button">Delete</button>
            
          
             