doctype html
html(lang='en')
  body  
   table(style='width:100%' border='1')     
      tr
        th NAME
        th AGE
        th CITY
        th STATE
        th EMAIL
        th       

      each a in users
       tr
          td= a.name  
          td= a.age
          td= a.city
          td= a.state
          td= a.email 
          td
             <a href="/a.email"><button class="btn btn-info btn-lg" type="button">Edit</button>
             <a href="/delete/a.email"><button class="btn btn-info btn-lg" type="button">Delete</button>
            
          
             